.navbar{
    height: 56px;
    box-sizing: border-box;
    padding: 10px 16px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width:100%;
    top:0;
    background-color: black;
    z-index:10;
    color: white;
}
.navbar-left{
    gap:10px;
    display:flex;
    justify-content: center;
    align-items:center;
    width: fit-content;
}
.navbarHamburger{
    cursor:pointer;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.navbar_youtubeImg{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.navbar_utubeTitle{
    font-size: 20px;
    word-spacing:0px;
    letter-spacing:0px;
    font-family: 'oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
/* left section css ends */
.navbar-middle{
    display: flex;
    width:50%;
    gap:10px;
}
.navbar_searchbox{
    display: flex;
    width:80%;
}
.navbar_searchBoxInput{
    width:100%;
    height:40px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border:1px solid rgb(58,57,57);
    background-color: #121212;
    color:white;
    font-size:16px;
    padding-left:30px;
    &:focus{
        outline:none;
    }
    &::placeholder{font-size: 16px;}
}
.navbar_searchIconBox{
    cursor:pointer;
    width:70px;
    border:1px solid rgb(42,42,42);
    background-color: rgb(42,42,42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px
    
}
.navbar_mic{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color: rgb(42,42,42);
}
/* center section css ends */
.navbar-right{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar-right-logo{width: 30px;
    border-radius:50%;
    cursor: pointer}
.navbar-modal{
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 20;
    

}
.navbar-modal-option{
    background-color:rgb(85,85,85);
    padding: 10px;
    &:hover{
        background-color: rgb(34,33,33);
    }
    border: 1px solid gray;
   
    cursor: pointer;
    
}