.fullHomePage{
    display:flex;
    flex-direction:column;
    overflow-x: hidden;
    flex:1;

    min-height: 100vh;
}

.homepage{
    display:flex;
    flex-direction:column;
    overflow-x: hidden;
    flex:1;
    margin-left:262px;
    min-height: 100vh;
}
.homepage_options{
    display:flex;
    position:fixed;
    top:56px;
    padding:12px;
    z-index:1;
    width:100%;
    box-sizing:border-box;
    gap:10px;
    flex-shrink: auto;
    height:auto;
    overflow-x:scroll;
    background-color: black;
}
.homepage_option{
    flex:0 0 auto;
    height:30px;
    padding:1px 10px;
    background-color: rgb(42,42,42);
    color:white;
    font-weight:600;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;

}
.home_mainPage{
    display: grid;
    box-sizing: border-box;
    gap:10px;
    grid-template-columns: 384px 384px 384px;
    padding: 90px 0 20px 0;
    background-color: black;
}
.youtube_video{
    color:white;
    text-decoration:none;
    display:flex;
    box-sizing:border-box;
    flex-direction: column;
    cursor:pointer;
    height:316px;

}
.youtube_thumbnailbox{width: 100%;
position: relative;
box-sizing: border-box;
height:216px}
.youtube_thumbnailpic{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.youtube_timingthumbnail{
    position:absolute;
    bottom:0;
    right:0;
    width:auto;
    padding:1px 2px;
    background-color: rgb(42,42,42);
    border-radius:5px;
}
.youtubetitlebox{
 display: flex;
 padding-top:10px;
}
.youtubeboxprofile{
 width: 50px;
 height: 50px;
 display:flex;
 align-items: center;
 justify-content:center ;
}
.youtubeprofile{
    width:80%;
    border-radius:100%;
}
.youtubetitlebox_title{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.youtube_videotitle{
    font-weight: 600;
    font-size:16px;
}
.youtube_channelname{
    margin-top:5px;
    font-size:18px;
    color:rgb(170,170,170)
}
.youtubevideo_views{
    font-size: 14px;
    color:rgb(170,170,170)
}
.home_mainpagewithoutlink{
    display: grid;
    box-sizing: border-box;
    gap:30px;
    grid-template-columns: 326px 326px 326px 326px;
    padding: 90px 0 20px 10px;
    background-color: black;
}